@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    background-color: #FFDE16;
}

.register {
    display: table;
}

.logo-img {
    width: 30vh;
}

.register-account {
    height: 100vh;
    border-radius: 2rem 0rem 0rem 2rem !important;
    background: white;
}

.register-img {
    height: 30rem;
    position: absolute;
    left: 7%;
    top: 20%;
    bottom: 50%;
}

.create-account {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    color: navy;
    margin-left: 5px !important;
}

.container {
    label {
        display: inline-block;
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

#last-name,
#first-name,
#email-address,
#password {
    padding: 6px 15px;
    border-radius: 5px;
    height: 2.5rem;
    outline: none;
    border: none;
    background: #F6F7F9;
    color: #748194;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.submit {
    font-weight: bold;
    width: 28rem;
    margin: 0.5rem;
    height: 45px;
    padding: 6px 15px;
    border-radius: 25px;
    outline: none;
    border: none;
    background: #FFDE16;
    color: black;
    font-size: 14px;
}